*{
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: black;
}
.banner{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.banner h1{
    color: azure;
    font-family: 'Ubunty', sans-serif;
    font-size: 120px;
    margin-bottom: 100px;
    border-top: 5px solid azure;
    border-bottom: 5px solid azure;
}

.banner button {
    width: 230px;
    padding: 10px;
    background: linear-gradient(to right, #c2c2c2a, azure);
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    color: black;
    border: none;
    outline: none;
    border-radius: 100px;
   /* transform: perspective(500px) rotateY(-15deg);*/
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.slideshow-wrapper{
    display: none;
}